@model QLHTQT_Aplication.Models.QLDonViHopTacSearch

@{
    ViewBag.Title = "Danh đơn vị hợp tác viết đề cương";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box box-primary">
    <div class="box-header with-border">
        <label><i class="fa fa-filter"></i>&nbsp;TIÊU CHÍ TÌM KIẾM</label>
        <form action="" id="frm-search">
            <div class="row">

                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="form-group">
                        <input type="text" name="Keyword" id="Keyword" class="form-control" placeholder="Nhập từ khóa tìm kiếm" value="" />
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <button class="btn btn-sm btn-primary" id="btn-search"><i class="fa fa-search"></i>&nbsp;TÌM KIẾM</button>
                </div>
            </div>
        </form>

    </div>
    <div class="box-body box-profile">
        <div class="header_tab">
            <div class="row">
                <div class="col-xs-12 col-sm-5">
                    <span>Hiển thị: </span>
                    <select name="" id="displayCount" class="form-control custom_select">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="75">75</option>
                        <option value="100">100</option>
                    </select>
                    <span> dữ liệu</span>
                </div>
                <div class="col-xs-12 col-sm-7 text-right">
                    <button onclick="btnChiTiet(0)" class="btn btn-sm btn-success"><i class="fa fa-paper-plane"></i>&nbsp;THÊM MỚI</button>&nbsp;
                    <button onclick="showDeleteConfirm()" class="btn btn-sm btn-danger"><i class="fa fa-close"></i>&nbsp;Xóa</button>
                    <button onclick="Refresh()" class="btn btn-sm bg-gray"><i class="fa fa-refresh"></i>&nbsp;TẢI LẠI</button>&nbsp;
                </div>
            </div>
        </div>
        <div id="divDanhSach">

        </div>
    </div>
</div>
<div class="modal fade" id="dynamic-modal-sub" data-backdrop="static" data-keyboard="false"></div>

@section scripts{
    <script type="text/javascript">
    var data = {
        "Keyword": $("#Keyword").val(),
        "FormDate": $("#FromDate").val(),
        "ToDate": $("#ToDate").val()
    }

    $("#btn-search").click(function (e) {
        e.preventDefault();
        setData();
        reload();
    });

    $("#displayCount").change(function () {
        reload();
    });

    $(document).ready(function () {
        reload();
    })
    function reload() {
        $("#divDanhSach").jsGrid({
            height: "auto",
            width: "100%",
            editing: false,
            sorting: true,
            paging: true,
            autoload: true,
            pageLoading: true,
            pageSize: Number($("#displayCount").val()),
            pageIndex: 1,
            pageButtonCount: 5,
            loadMessage: "Đang tải dữ liệu...",
            pagerFormat: "Số trang: {first} {prev} {pages} {next} {last}    {pageIndex} / {pageCount}",
            pagePrevText: "<<",
            pageNextText: ">>",
            pageFirstText: "1",
            pageLastText: "Trang cuối",
            pageNavigatorNextText: "...",
            pageNavigatorPrevText: "...",

            controller: {
                loadData: function (filter) {
                    data["PageIndex"] = filter.pageIndex;
                    data["PageSize"] = filter.pageSize;
                    var deferred = $.Deferred();
                    $.ajax({
                        type: "get",
                        url: "/QlDeCuong/_DanhSachDonViHopTac",
                        data: {
                            obj: JSON.stringify(data)
                        },
                        success: function (data) {
                            if (data.Result == "SUCCESS") {
                                var dt = {
                                    data: data.Data.lst,
                                    itemsCount: data.Data.totalCount
                                }
                                deferred.resolve(dt);
                            } else {
                                $('#jsLophocphan').jsGrid({
                                    loadIndication: false
                                });
                            }
                        }
                    });

                    return deferred.promise();
                }
            },

            fields: [
                {
                    name: "Ten_don_vi", type: "text", align: "left", title: "Tên đơn vị",
                },

                {
                    name: "Giay_phep_hd", type: "text", align: "left", title: "Giấy phép hoạt động"
                },

                {
                    name: "Dia_chi", type: "text", align: "left", title: "Địa chỉ"
                },
                {
                    name: "So_dien_thoai", type: "text", align: "left", title: "Số điện thoại"
                },
                {
                    name: "", width: 50, height: 150, align: "center", title: "Chi tiết",
                    cellRenderer: function (value, item) {
                        return '<td><a class="btn btn-xs btn-info" href="javascript:void(0)" onclick="btnChiTiet(' + item.Id + ')"><i class="fa fa-info-circle"></i></a></td>';
                    }
                },
                {
                    name: "", width: 30, height: 150, align: "center", title: "#",
                    cellRenderer: function (value, item) {
                        return '<td><input type="checkbox" value="' + item.Id + '" class="ckbChoDuyet"/></td>';
                    }
                },
            ]
        });
    }
    function btnChiTiet(id) {
        $.ajax({
            url: '/QlDeCuong/_ChiTietDonViHopTac',
            type: 'get',
            data: {
                id:id
            },
            success: function (data) {
                $('#dynamic-modal-sub').html(data);
                $("#dynamic-modal-sub").modal('show');
            },
            error: function (errorThrown) {
            }
        });
    }

    function convertDate(data) {
        var getdate = parseInt(data.replace("/Date(", "").replace(")/", ""));
        var ConvDate = new Date(getdate);
        return ConvDate.getDate() + "/" + ConvDate.getMonth() + "/" + ConvDate.getFullYear();
    }
    function Refresh() {
        $("#Keyword").val("");
        reload();
    }
    function showDeleteConfirm() {
        var lstIDs = [];
        $('.ckbChoDuyet').each(function () {
            var _checked = $(this).is(":checked")
            if (_checked) {
                lstIDs.push($(this).prop("value"));
            }
        })
        if (lstIDs.length == 0) {
            ShowToastMessage('Vui lòng chọn ít nhất một dữ liệu!!!', '', 'warning');
            return
        }
        if (confirm("Bạn chắc chắn muốn xóa những dữ liệu này?")) {
            $.ajax({
                type: 'POST',
                dataType: 'JSON',
                url: '/QlDeCuong/_DeleteDonViHopTac',
                data: { lstIDs: lstIDs.join() },
                success: function (data) {
                    ShowToastMessage(data.msg, '', data.type);
                    reload();
                },
                error: function (val) {
                    ShowToastMessage(data.msg, '', data.type);
                }
            })
        }
    }
    function setData() {
        data["Keyword"] = $("#Keyword").val();
        data["FormDate"] = $("#FromDate").val();
        data["ToDate"] = $("#ToDate").val();
    }
    </script>
}



